@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.inter-var {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-family: "Inter var", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gradient-background {
  background: linear-gradient(
    to bottom right,
    rgb(15, 23, 42) 0%,    /* slate-900 */
    rgb(30, 41, 59) 30%,   /* slate-800 */
    rgb(15, 23, 42) 60%,   /* slate-900 */
    rgb(2, 6, 23) 100%     /* slate-950 */
  );
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hover-rotate-animation {
  animation: float 6s ease-in-out infinite;
}